.central {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1736px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(64, 65, 69, 0.08),
    0px 1px 3px rgba(64, 65, 69, 0.1);
  border-radius: 8px;
  border-radius: 8px;
}

.table-scroll {
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 495px;
  padding: 0px 30px;
}

.bottom-table {
  margin-top: 5px;
  padding-left: 30px;
  width: 100%;
}

.header-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-table span {
  margin: 30px 0px 0px 30px;
}

.dots {
  border: none;
  display: flex;
  z-index: 1;
  align-items: center;
  height: 24px;
  width: 24px;
  margin: 30px 30px 0px 0px;

}

.dots:hover {
  cursor: pointer;
}