.span-index {
  color: #404145;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  text-align: center;
  /* margin-left: 16px; */

}

.span-header {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #606266;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.index {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.span-info {
  font-family: SFProText-Regular;
  font-style: normal;
  font-weight: normal;
  width: 140px;
  color: #141518;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.span-no-data {
  color: #A9ACB1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}