
.span-container {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 20px;
}
.span-index {
  color: #404145;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: underline;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
}
.span-special{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #606266;
}

.span-header-anomalia {
  width: 103px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #606266;
  margin: auto;
}


.span-header {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #606266;
  margin: auto;
  /* display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; */
}

.span-info {
  font-family: SFProText-Regular;
  font-style: normal;
  font-weight: normal;
  width: 107px;
  color: #141518;
  display: flex;
  align-items: center;
  padding-top: 14px;

  justify-content: center;
}

.span-no-data {
  color: #a9acb1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.toast-span {
  font-family: "SFProText-Regular";
  font-size: 16px;
  padding: 5px;
}
