@font-face {
  font-family: "SFPRODISPLAYREGULAR";
  src: local("SFPRODISPLAYREGULAR"),
    url("../../../fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: bold;
}

.icon-number {
  width: 123px;
  height: 83px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.icon1 {
  font-family: 'SFPRODISPLAYREGULAR';
  color: #080808;

}

.icon2 {
  font-family: 'SFPRODISPLAYREGULAR';
  font-size: larger;
  color: #0a0a0a;
}