@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url("../../../fonts/SFProText-Regular.ttf") format("truetype");
}

.icon-number {
  /* height: 83px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon1 {
  font-family: 'SFProText-Regular';
  color: #080808;

}

.icon2 {
  font-family: 'SFProText-Regular';
  font-size: larger;
  color: #0a0a0a;
}