.toast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 20px;
    align-content: center;
    align-self: center;
    align-items: center;
}

.toast-widget {
    display: flex;
    flex-direction: column;
}

.toast-span {
    font-family: 'SFPRODISPLAYREGULAR';
    font-size: 16px;
}