@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url("../../fonts/SFProText-Regular.ttf") format("truetype");
}

.bottom {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 719px;
  padding: 0px 0px 20px;
  width: 1550px;
  padding: 20px 20px;
}

.table-container {
  height: 465px;
  overflow-x: auto;
  overflow-y: scroll;
}

.table-container-table {
  border-collapse: collapse;
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 465px;
}

.top-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.headers-top {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}

.dots-span {
  margin: 0rem 2rem;
}

.table-space {
  border-bottom: 1px solid #dee0e2;
  border-top: 1px solid #dee0e2;
  height: 40px;
  width: 14px;
}

.table-bottom-container {
  width: 1550px;
  margin-top: 1px;

}

.table-bottom-space {
  border-bottom: 1px solid #dee0e2;
  height: 40px;
  width: 14px;
}

.table-data-index {
  font-family: 'SFProText-Regular' !important;
  border-bottom: 1px solid #dee0e2;
  border-right: 1px solid white;
  border-top: 1px solid #dee0e2;
  height: 40px;
  text-decoration: underline;
  width: 96px;
}

.table-bottom-data-index {
  border-bottom: 1px solid #dee0e2;
  border-right: 1px solid white;
  height: 40px;
  width: 305.11px;
  text-align: flex-start;
}

.table-data {
  font-family: 'SFProText-Regular' !important;
  font-size: 14px;
  border-bottom: 1px solid #dee0e2;
  border-right: 1px solid white;
  border-top: 1px solid #dee0e2;
  height: 40px;
  text-align: center;
  width: 105.73px;
}

.table-space-middle {
  height: 42px;
  width: 8px;
  background-color: white;
}

.table-bottom-data {
  border-bottom: 1px solid #dee0e2;
  border-right: 1px solid white;
  height: 40px;
  text-align: center;
  width: 99px;
  font-size: 14px;
  font-weight: bold;
}

.table-bottom-data-space {
  width: 30px;
  height: 42px;
  background-color: white;
}

.table-bottom-data-space-big {
  width: 385px;
  height: 42px;
  background-color: white;
}

.table-row:nth-child(even) {
  background-color: #f7f9fa;
}

.table-bottom-row:nth-child(odd) {
  background-color: #f7f9fa;
}

tr:hover {
  background-color: #f7f9fa;
}


@media (max-width: 1000px) {
  .bottom {
    width: 100%;
  }

  .table-container {
    width: 100%;
    height: 100%;
  }
}