@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url("../../fonts/SFProText-Regular.ttf") format("truetype");
}

.span-estado-store {
  display: flex;
  font-family: "SFProText-Regular";
  height: 20px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 18px;
  cursor: pointer;
}

.span-dots-excel {
  cursor: pointer;
  display: flex;
  font-family: "SFProText-Regular";
  height: 20px;
  line-height: 20px;
}

.headers-super-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.headers-container0 {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
  padding-left: 20px;
  width: 20%;
}

.headers-container1 {
  box-sizing: border-box;
  padding-left: 10px;
  cursor: pointer;
  display: flex;
  width: 53%;
}

.headers-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  padding-right: 15px;
  width: 27%;
  font-family: "SFProText-Regular" !important;
  font-size: 12px;
}

.headers {
  font-family: "SFProText-Regular" !important;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.headers-widths-id {
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 108px;
  margin: 1px;
  height: 32px;
}

.headers-widths-ciudad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 20px;
  margin: 1px;
  width: 108px;
  height: 32px;
}

.headers-widths-dots {
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
}

.headers-widths-impacto {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  /* padding-right: 5px; */
  height: 32px;
  padding-left: 1.5px;
}

@media (max-width: 1000px) {
  .headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .headers-widths-id {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .headers-widths-impacto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}