.widget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 155px;
    background-color: rgb(247, 240, 240);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
    /* padding: 10px; */
    border:#000;

}
.number {
    font-size: 50px;
    color: rgb(19, 15, 15);
    font-weight: bold;
    margin-top: 10px;
}
.svg-string {
    font-size: 20px;
    color: rgb(19, 15, 15);
    font-weight: bold;
    margin-top: 10px;
}