@font-face {
    font-family: "SFProText-Regular";
    src: local("SFProText-Regular"),
        url("../../../fonts/SFProText-Regular.ttf") format("truetype");
}



.dropdown {
    position: absolute;
    top: 130px;
    width: 100;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid rgb(43, 30, 30);
    border-radius: 5px;
    padding: 0.5rem;
    overflow: hidden;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.tag {
    color: #414541 !important;
    background: #F7F9FA !important;
    border: 1px solid #DEE0E2 !important;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'SFProText-Regular';
}