.toast {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 2px;
}

.tag {
  color: #414541 !important;

  background: #F7F9FA !important;
  /* Gray / gray 200 */

  border: 1px solid #DEE0E2 !important;
  box-sizing: border-box;
  border-radius: 4px;
}