th {
  text-align: center;
  width: 120px;

}

/* .table-header {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #606266;
  display: flex;
  text-align: center;
  margin-left: 16px;
} */