@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url("../../fonts/SFProText-Regular.ttf") format("truetype");
}

.table {

  font-family: 'SFProText-Regular', sans-serif;
  width: 100%;
  border-collapse: collapse;
}