@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url("../../fonts/SFProText-Regular.ttf") format("truetype");
}

.table {

 

}

/* .table-container{
  padding: 0px 30px;
} */
