@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url("../../fonts/SFProText-Regular.ttf") format("truetype");
}

.table {

  /* table-layout: fixed; */
  font-family: 'SFProText-Regular', sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
  /* height: 800px; */
}