

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px;
  text-align: center;
  height: 100%;
  width:100%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: SF Pro Text;
}

tr:nth-child(even) {
  background-color: #f7f9fa;
}

tr:hover {
  background-color: #f6f6f6f3;
}

body{
  background-color: #f1f2f3;
  @font-face {
    font-family: "SFProText-Regular";
    src: local("SFProText-Regular"),
      url("./fonts/SFProText-Regular.ttf") format("truetype");
  }
}