.App {
  padding: 15px 0;
  text-align: center;
  background-color: #f1f2f3;
  height: 100vh;
  width: 100%;
  font-family: SF Pro Text;
}

tr:nth-child(even) {
  background-color: #f7f9fa;
}
tr:hover{
  background-color: #f6f6f6f3;
}
