.App {
  align-items: center;
  background-color: #F1F2F3;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  justify-content: center;
  overflow: visible;

}

.line {
  width: 100%;
  height: 10px;
  background-color: #F1F2F3;
}