.top {
    column-gap: 7.75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 155px;
    width: 1736px;
}

.store-with-dot {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.top-label {
    display: flex;
    align-items: center;
    align-self: center;
}

.loading {
    width: 30px;
    height: 30px;
}